@import '../../scss/color';

.modal {
    background-color:$backgroundColor;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 15;
    &__button {
        line-height: 40px;
        background-color: beige;
        border: 1px solid rgb(87, 82, 82);
        padding: 5px 30px;
        margin:20px;
        border-radius: 100px;
        position: absolute;
        top:40%;   
        left:30%; 
        transform: translate(50%);
        cursor: pointer;
    }
    &--active {
        display: none;
    }
}