@import '../../scss/color';

.content__answer{

    line-height: 40px;
    background-color: $default;
    border: 1px solid rgb(87, 82, 82);
    padding: 5px 30px;
    margin:20px;
    border-radius: 100px;
    position: relative;

    &--selected-incorrect{
        border-color: $selectedBorder;
        background-color: $selectedIncorrect;
    }

    &--selected{    
        background-color: $hoverSelect;
        border-color: $selectedBorder;
    }
    &--selected-correct{    
        background-color: $selectedCorrect;
        border-color: $selectedBorder;
    }
 
    &--notselected-correct{
        background-color: $selectedCorrect;
     
    }
    &--notselected-incorrect{
        background-color: $selectedIncorrect;
    }
    &:before{
        position: absolute;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        top: -4px;
        left: -4px;
        z-index: -1; 
        content:"";
        background: linear-gradient(yellow, cadetblue);
        border-radius: 100px;
    }
    &:hover {
        background-color: $hoverSelect;
    }
}