@import '../../scss/color';

body {
    // background-color: $backgroundColor;
   

}

.quiz {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: $backgroundColor;
    position: relative;
}