.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    font-size: 1.6em;
    color: $fontColor;

    &__points{
        min-width: 81px;
    }
    &__reset{
        background-image: url('../../assets/images/frame.png');
        width: 90px;
        height: 105px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        color: $fontColor;
        font-size: inherit;
        font-family: inherit;
    }
}