.control {
    display: flex;
    justify-content: space-between;

    &__button {
        width: 8em;
        font-size: 1.6em;
        line-height: 3;
        background-color: $controlButton;
        color: white;
        padding: 0 30px;
        border-radius: 100px;
        
        &--disabled {
            opacity: .7;
            pointer-events: none;
            user-select: none;
        }
    }
}