$backgroundColor: rgb(115, 98, 162);
$default: white;
$controlButton: rgb(76, 56, 129);
$hoverSelect: rgb(244,208,112);
$selectedBorder: rgb(239,140,206);
$selectedCorrect: rgb(87,162,68);
$selectedIncorrect: rgb(138,46,32);
$disabled: rgb(85,74,150);